body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent-component {
  max-width: 100vw;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 3em;
}

region.wavesurfer-region:before {
  content: attr(data-region-label);
  font-size: 0.5em;
  position: absolute;
  top: 0;
}

wavesurfer-region .handle.wavesurfer-handle{
  min-width: 4px !important ;
  width: 5% !important;
}